[Unit]
Description=CPU Low Frequency 
After=bluetooth.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart={BASE}/cpu/cpu-low.sh

[Install]
WantedBy=multi-user.target

